<div class="container">
  <h1>Welcome to Pedesquivel's Animal Shelter!</h1>
  <p>We are a non profit dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat null.</p>
</div>
<p>Below are a list of options for clients:</p>

<p><a href="/animals">List of animals</a></p>
<p><a href="/breed">List of breeds</a></p>
<p><a href="/dates">List of animals by date</a></p>
<p><a href="/new_animal">enroll a new animal</a></p>
<p><a href="/species">List of pet species</a></p>
<p><a href="/new_person">enroll in our database</a></p>
<p><a href="/people">List of current clients</a></p>
